<div class="content">
    <div class="side" style="--basis:60%">
        <app-title text="{{title}}"></app-title>
        <app-table-cont [data]="data" (changeSelected)="getSelected($event)"></app-table-cont>
        <div class="download">
            <button class="btn"><fa-icon [icon]="faDown"></fa-icon>Descargar listado</button>
        </div>
    </div>
    <div class="side" style="--basis:35%">
        <app-title text="Acciones"></app-title>
        <p>{{selected?.id_provider| undefined}}</p>
    </div>
</div>