<ng-container *ngIf="!isLoading; else noData;">
    <div class="content">
        <div class="side" style="--basis:60%">
            <app-title text="Listado de usuarios del sistema"></app-title>
            <app-table-users [data]="data" (changeSelected)="getSelected($event)"></app-table-users>
        </div>
        <div class="side" style="--basis:35%">
            <app-title text="Acciones"></app-title>

            <!-- Btns -->
            <div class="btns">
                <app-action-button (clicked)="addBtn()" [icon]="faPlus" [formSelected]="true"
                    tooltipText="Agregar usuario nuevo" [id]="'btn_1'"></app-action-button>
                <app-action-button (clicked)="modBtn()" [icon]="faEdit" [formSelected]="false"
                    [_disabled]="selected==null" tooltipText="Modificar usuario seleccionado" [id]="'btn_2'">
                </app-action-button>
                <app-action-button (clicked)="delBtn()" [icon]="faTrash" [formSelected]="false"
                    [_disabled]="selected==null" tooltipText="Eliminar usuario seleccionado"></app-action-button>
            </div>

            <!-- Selected -->
            <p>Usuario seleccionado:</p>
            <p class="selected-prov">{{selected ? (selected | fullName) : (selected | undefined)}}</p>

            <div class="form-container">
                <app-form-user title="Nuevo usuario" btn_text="Agregar" [id]="'form1'" #addForm
                    (submitEvent)="addProvider($event)" [styles]="{showing:true}" [roles]="roles"></app-form-user>
                <app-form-user title="Modificar usuario seleccionado" btn_text="Modificar" [id]="'form2'" #modForm
                    (submitEvent)="modProvider($event)" [styles]="{showing:false}" [user]="selected" [roles]="roles"
                    [isMod]="true">
                </app-form-user>
            </div>
        </div>
    </div>


    <app-modal (delete)="delProvider()" type="el usuario" [name]="selected? (selected | fullName) : 'none'" #modal>
    </app-modal>

    <app-growl #growl></app-growl>
</ng-container>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>