<header>
    <div class="branding">
        <a routerLink="/home"><img src="assets/images/logo-white.png" class="logo"></a>
        <h2>Sistema para la gesti&oacute;n de contratos</h2>
    </div>

    <div class="control">
        <div class="user-profile">
            <img src="assets/images/user-picture-default.png" alt="">
            <div>
                <p>{{activeUser ? (activeUser | fullName) : (activeUser | undefined)}}</p>
                <a routerLink="/personal">Ver Su Perfil</a>
            </div>
        </div>

        <div class="dark-btn-container">
            <div id="dark-btn" (click)="toggleDark()" [ngClass]="isLight?'':'dark-btn-on'">
                <fa-icon [icon]="iconLight"></fa-icon>
            </div>
        </div>
    </div>

</header>