<table mat-table [dataSource]="data" #usersTable>
    <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef width="15%">N&uacute;mero</th>
        <td mat-cell *matCellDef="let index = index">{{index+1}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
        <td mat-cell *matCellDef="let user">{{user.username}}</td>
    </ng-container>

    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let user">{{user.nombre}} {{user.apellidoP}} {{user.apellidoM}}</td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let user">{{user.role}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row  
    (click)="setSelected(row)"
    [class.selected]="selected === row"
    *matRowDef="let row; columns: columnas"></tr>
</table>