<!--        settings-menu        -->
<div id="dark-btn" (click)="toggleDark()" [ngClass]="isLight?'':'dark-btn-on'">
    <fa-icon [icon]="iconLight"></fa-icon>
</div>

<div class="settings-menu-inner">
    <div class="user-profile">
        <img src="assets/images/user-picture-default.png" alt="">
        <div>
            <p>{{activeUser ? (activeUser | fullName) : (activeUser | undefined)}}</p>
            <a routerLink="/personal">Ver Su Perfil</a>
        </div>
    </div>
    <hr>

    <div class="settings-links">
        <div class="settings-icon">
            <fa-icon [icon]="faQuestion"></fa-icon>
        </div>
        <a routerLink="/help">Ayuda <fa-icon [icon]="faAngleRight"></fa-icon></a>
    </div>
    <div class="settings-links">
        <div class="settings-icon">
            <fa-icon [icon]="faComment"></fa-icon>
        </div>
        <a routerLink="/help">Feedback <fa-icon [icon]="faAngleRight"></fa-icon></a>
    </div>

    <hr>

    <div class="settings-links">
        <div class="settings-icon">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </div>
        <a href="#" (click)="logout()">Cerrar Sesi&oacute;n <fa-icon [icon]="faAngleRight"></fa-icon></a>
    </div>
</div>
<!--        End of settings-menu        -->