<ng-container *ngIf="!isLoading; else noData;">
    <div class="content">
        <div class="side" style="--basis:60%">
            <app-title text="Informaci&oacute;n de contratos"></app-title>
            <p>Detalles de los filtros aplicados</p>
            <app-table-cont [data]="data"></app-table-cont>
            <div class="download">
                <button class="btn"><i class="fa fa-download"></i>Descargar listado</button>
            </div>
        </div>
        <div class="side" style="--basis:35%">
            <div class="form-container" [ngStyle]="style">
                <app-filter-form [styles]="{showing:true}" #filterForm></app-filter-form>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>