<ng-container *ngIf="!isLoading; else noData;">
    <div class="content">
        <div class="side" style="--basis:60%">
            <app-title text="Informaci&oacute;n de contratos"></app-title>
            <p>Detalles de los filtros aplicados:</p>
            <p class="filter-detail">{{filtersDetails}}</p>
            <app-table-cont [data]="data" (changeSelected)="getSelected($event)"></app-table-cont>
            <div class="download">
                <button class="btn" [disabled]="selected==null" (click)="infoSelected()">
                    <fa-icon [icon]="faInfo"></fa-icon>Informaci&oacute;n seleccionado
                </button>
                <button class="btn" [disabled]="data.length==0" (click)="download()">
                    <fa-icon [icon]="faDown"></fa-icon>Descargar listado
                </button>
            </div>
        </div>
        <div class="side" style="--basis:35%">
            <div class="form-container" [ngStyle]="style">
                <app-filter-form [styles]="{showing:true}" [providers]="providers" #filterForm
                    (emitter)="submited($event)"></app-filter-form>
            </div>
        </div>
    </div>
    
    <app-info-modal #modal></app-info-modal>
</ng-container>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>