/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #f5f5f5;
    --secondary-color: #ddd;
    --third-color: #f05454;
    --font-color: #121212;
    --selection-color: #f05454aa;

    --header-height: 3rem;
}

.dark-theme {
    --primary-color: #171717;
    --secondary-color: #444;
    --third-color: #da0020;
    --font-color: #ddd;
    --selection-color: #da0020aa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    transition: all .2s;
}

*::selection {
    background: var(--selection-color);
}

/* Estilos del body */
body {
    background: var(--primary-color);
    min-width: 480px;
}

body.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.freeze {
    pointer-events: none;
}

body.freeze::after {
    position: fixed;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

body.login header {
    padding: 0 2rem;
}

/* Estilos generales */
.btn {
    padding: 10px;
    border-radius: 20px;
    background: var(--third-color);
    color: var(--font-color);
    outline: none;
    border: none;
    cursor: pointer;
}

hr {
    width: 60%;
    margin: 0 auto;
    border-color: var(--font-color);
}

/* Generales de layout gestion */
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.content .side {
    flex-basis: var(--basis);
    align-self: flex-start;
    position: relative;
}

/* Generales de layout gestion */

/* Tables Styles */
table {
    table-layout: fixed;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    background: transparent !important;
}

table thead {
    text-align: left;
    border-bottom: 1px solid var(--third-color);
}

table td, table thead th {
    padding: 10px !important;
}

table td, table th, .mat-cell, .mat-header-cell {
    white-space: normal;
    word-wrap: break-word;
    border: none !important;
    color: var(--font-color);
    font-size: 100%;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:hover {
    background: var(--selection-color);
}

table tbody tr.selected {
    background: var(--third-color);
}
/* Tables Styles */

/* Resposive */
@media screen and (max-width : 991px) {
    :root {
        --header-height: 2.5rem;
    }

    table, .mat-cell, .mat-header-cell {
        font-size: 95%;
    }
}

@media(max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content .side {
        width: 100%;
    }

    table, .mat-cell, .mat-header-cell {
        font-size: 100%;
    }
}

@media(max-width: 610px) {
    table, .mat-cell, .mat-header-cell {
        font-size: 90%;
    }
}