/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #f5f5f5;
    --secondary-color: #ddd;
    --third-color: #f05454;
    --font-color: #121212;
    --selection-color: #f05454aa;

    --header-height: 3rem;
}

.dark-theme {
    --primary-color: #171717;
    --secondary-color: #444;
    --third-color: #da0020;
    --font-color: #ddd;
    --selection-color: #da0020aa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    transition: all .2s;
}

*::selection {
    background: var(--selection-color);
}

/* Estilos del body */
body {
    background: var(--primary-color);
    min-width: 480px;
}

body.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.freeze {
    pointer-events: none;
}

body.freeze::after {
    position: fixed;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

body.login header {
    padding: 0 2rem;
}

/* Estilos generales */
.btns {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    border-radius: 20px;
    background: var(--third-color);
    color: var(--font-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.btn[disabled] {
    background: var(--selection-color);
    cursor: not-allowed !important;
}

hr {
    width: 60%;
    margin: 0 auto;
    border-color: var(--font-color);
}

/* Generales de layout gestion */
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.content .side {
    flex-basis: var(--basis);
    align-self: flex-start;
    position: relative;
}

.selected-prov {
    font-size: 90%;
    text-align: center;
}

/* Generales de layout gestion */

/* Tables Styles */
table {
    table-layout: fixed;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    background: transparent !important;
}

table thead {
    text-align: left;
    border-bottom: 1px solid var(--third-color);
}

table td, table thead th {
    padding: 10px !important;
}

table td, table th, .mat-cell, .mat-header-cell {
    white-space: normal;
    word-wrap: break-word;
    border: none !important;
    color: var(--font-color);
    font-size: 100%;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:hover {
    background: var(--selection-color);
}

table tbody tr.selected {
    background: var(--third-color);
}

/* Tables Styles */

/* Paginator */
.mat-paginator, .mat-paginator-page-size .mat-select-trigger,
.mat-select-arrow, .mat-select-value {
    color: var(--font-color);
}

.mat-paginator {
    background: transparent;
}

/* Paginator */

/* Forms */
.form-container {
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    margin: 20px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    transition: height 1s;
}

.form-container form,
.login-container form {
    padding: 20px 10%;
    position: absolute;
    width: 100%;
    top: 0;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container form h4,
.login-container form h4 {
    margin-bottom: 1rem;
    position: relative;
}

.form-container form h4::after,
.login-container form h4::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 2px;
    background: var(--third-color);
    transform: translateX(-50%);
}

#form1 {
    left: 0;
}

#form2 {
    left: 110%;
}


form .form-group {
    width: 100%;
    margin-bottom: 5px;
}

form .form-group * {
    margin-bottom: 2px !important;
}

form .error {
    font-size: 70%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: var(--selection-color);
    padding: 1px 5px;
    width: 100%;
}

.form-container form input,
.login-container form input,
.form-container form .mat-select,
.form-container form textarea {
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form .mat-select .mat-select-trigger,
.form-container form .mat-select .mat-select-arrow,
.form-container form .mat-select .mat-select-value {
    color: black;
}

.form-container form .mat-select-placeholder,
.form-container form .mat-select .mat-select-value {
    font-size: .9rem;
}

.form-container form .mat-select {
    background: #fff;
}

.form-container form .form-control,
.login-container form .form-control {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.form-container form .form-control.check.radio {
    justify-content: flex-start;
}

.form-container form .form-control:not(.check),
.login-container form .form-control:not(.check) {
    justify-content: space-between !important;
}

.form-container form .form-control .photo-section {
    width: 60%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.form-container form .form-control .photo-section .file-select {
    width: calc(100% - 60px - 2rem);
    height: 30px;
    position: relative;
    background: transparent;
}

.form-container form .form-control .photo-section .file-select::before {
    background-color: var(--third-color);
    color: var(--font-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    width: 100% !important;
    height: 100%;
    font-size: .8rem;
}

.form-container form .form-control .photo-section .vista_previa {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.form-container form .form-control .photo-section .vista_previa img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.form-container form .form-control .file-select input {
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}

.form-container form .form-control:not(.check) label,
.login-container form .form-control:not(.check) label {
    width: 40%;
    margin-right: 20px;
    text-align: left;
    font-size: .9rem;
}

.form-container form textarea {
    resize: none;
    height: 6rem;
}

.form-container form .form-control:not(.check) input,
.login-container form .form-control:not(.check) input,
.form-container form .mat-select,
.form-container form textarea {
    width: 60%;
}

.form-container form input[type="checkbox"] {
    width: 20px;
    margin-right: 20px;
}

.form-container form hr {
    width: 110%;
    margin: 10px 0;
    border-color: var(--font-color);
}

.form-container form .btn,
.login-container form .btn,
.cont_info_form_container form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.form-container form .btn:focus,
.login-container form .btn:focus,
.cont_info_form_container form .btn:focus {
    outline: none;
}

*.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42a948 !important;
}

*.ng-invalid {
    border-left: 5px solid #a94442 !important;
}

.field {
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.field.disabled .field-content {
    pointer-events: none;
}

.field.disabled .field-content::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
}

.field .legend {
    position: absolute;
    top: -1rem;
    left: 10%;
    background: var(--primary-color);
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    z-index: 3;
    border-radius: 5px;
}

.field .legend input[type="checkbox"] {
    margin-right: 1.5rem;
    width: 1rem;
    height: 1rem;
}

.field .legend span {
    position: relative;
}

.field .legend span::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30%;
    border: 2px solid var(--third-color);
}

.field-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.field-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}

/* Forms */


/* Resposive */
@media screen and (max-width : 991px) {
    :root {
        --header-height: 2.5rem;
    }

    table, .mat-cell, .mat-header-cell {
        font-size: 95%;
    }

    .form-container form .form-control:not(.check),
    .login-container form .form-control:not(.check) {
        gap: 0;
        flex-direction: column;
    }

    .form-container form .form-control:not(.check) input,
    .login-container form .form-control:not(.check) input,
    .form-container form .mat-select,
    .form-container form textarea {
        margin-top: 5px;
        width: 100%;
    }

    .form-container form .form-control:not(.check) label,
    .login-container form .form-control:not(.check) label {
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }

    .form-container form .form-control .photo-section {
        width: 100%;
        margin-top: 5px;
    }

    .form-container form .form-control .file-select input {
        margin: 0;
    }
}

@media(max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content .side {
        width: 100%;
    }

    table, .mat-cell, .mat-header-cell {
        font-size: 100%;
    }

    .form-container form,
    .login-container form {
        font-size: 100%;
    }

    .form-container form .form-control:not(.check),
    .login-container form .form-control:not(.check) {
        gap: 10px;
        flex-direction: row;
    }

    .form-container form .form-control:not(.check) input,
    .login-container form .form-control:not(.check) input,
    .form-container form .mat-select,
    .form-container form textarea {
        margin-top: 10px;
        width: 60%;
    }

    .form-container form .form-control:not(.check) label,
    .login-container form .form-control:not(.check) label {
        margin-top: 0;
        width: 40%;
        text-align: left;
    }

    .form-container form .form-control .photo-section {
        width: 60%;
        margin-top: 5px;
    }

    .form-container form .form-control .file-select input {
        margin: 0;
    }
}

@media(max-width: 610px) {
    table, .mat-cell, .mat-header-cell {
        font-size: 90%;
    }

    .form-container form .form-control .photo-section .file-select::before {
        font-size: .6rem;
    }
}