.action-btn {
    width: 3rem;
    height: 3rem;
    color: var(--font-color);
    background: var(--third-color);
    margin: 3px;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
}

.action-btn.form-selected {
    background: var(--primary-color);
}

.action-btn.disabled {
    background: var(--selection-color);
    cursor: not-allowed !important;
    pointer-events: none;
}